<html>
    <head>
        <title>PROGRESS BAR</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/view/style.css">
        //- <!-- <script  type="module" src="model/test.js"></script> -->
    </head>
    <body>
        <div id="progress-bar">
            - for (var i = 1; i < user.length; i++)
                - var prog =  "width: " + user[i].progress + "%";
                div(id ="container")
                    div(id = "progress-bar-inner", style = prog)
                        p #{user[i].user}
                    //- - user[i].name
                //- <div id="progress-bar-inner" style = prog>
                    <p>#{val}</p>
            end
            //- <div id="progress-bar">
            //- - for (var i = 30; i < 60; i++)
            //-     - var prog =  "width: " + user[i].progress + "%";
            //-     div(id = "progress-bar-inner", style = prog)
            //-         p #{user[i].user} - #{user[i].progress}%
            //-         //- - user[i].name
            //-     //- <div id="progress-bar-inner" style = prog>
            //-         <p>#{val}</p>
            //- end 
            //- <div id="progress-bar">
            //- - for (var i = 60; i < 90; i++)
            //-     - var prog =  "width: " + user[i].progress + "%";
            //-     div(id = "progress-bar-inner", style = prog)
            //-         p #{user[i].user} - #{user[i].progress}%
            //-         //- - user[i].name
            //-     //- <div id="progress-bar-inner" style = prog>
            //-         <p>#{val}</p>
            //- end 
        </div>
        //- <p>#{user[4].progress}</p>
    </body>
</html>