<html>
    <head>
        <title>PROGRESS BAR</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/view/style.css">
        //- <script  type="module" src="model/test.js"></script>
    </head>
    <body>
    <div class="main-container">
        <div id="title"> BARRE DE PROGRESSION YTRACK </div>
        <div id="progress-bar-class-container">
            <div id="progress-bar-class">
                <div id="class-container">
                    <div class="class-a progress-bar-class-inner">
                    <p>CLASSE A</p>
                    </div>
                    <div class="class-b progress-bar-class-inner">
                    <p>CLASSE B</p>
                    </div>
                </div>
            </div>
        </div>
            <div id="progress-container">
            <div id="progress-bar">
                - for (var i = 0; i < user.length; i++)
                    - var prog =  "width: " + user[i].progress + "%";
                    
                    if (b1A.names.includes(user[i].user)) 
                        div(id ="container")
                            div(id = "progress-bar-inner" class="class-a", style = prog)
                                p #{user[i].user}
                    else if(b1B.names.includes(user[i].user))
                        div(id ="container")
                            div(id = "progress-bar-inner" class="class-b", style = prog)
                                p #{user[i].user}
                    
                        //- - user[i].name
                    //- <div id="progress-bar-inner" style = prog>
                        <p>#{val}</p>
                end
                //- <div id="progress-bar">
                //- - for (var i = 30; i < 60; i++)
                //-     - var prog =  "width: " + user[i].progress + "%";
                //-     div(id = "progress-bar-inner", style = prog)
                //-         p #{user[i].user} - #{user[i].progress}%
                //-         //- - user[i].name
                //-     //- <div id="progress-bar-inner" style = prog>
                //-         <p>#{val}</p>
                //- end 
                //- <div id="progress-bar">
                //- - for (var i = 60; i < 90; i++)
                //-     - var prog =  "width: " + user[i].progress + "%"; 245980 Emma2004
                //-     div(id = "progress-bar-inner", style = prog)
                //-         p #{user[i].user} - #{user[i].progress}%
                //-         //- - user[i].name
                //-     //- <div id="progress-bar-inner" style = prog>
                //-         <p>#{val}</p>
                //- end 
            </div>
        </div>
        //- <p>#{user[4].progress}</p>
        </div>
    </body>
</html>